extends layout

block content
  h1 #{title}: #{author.name}
  p= author.lifespan
  
  if author_quotes.length
  
    p #[strong Delete the following quotes before attempting to delete this author.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Quotes
    
      dl
      each quote in author_quotes
        dt 
          a(href=quote.url) #{quote.category}
        dd #{quote.content}

  else
    p Do you really want to delete this Author?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Delete