extends layout

block content

  h1 Category: #{category.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Quotes
    
    dl
    each quote in category_quotes
      dt 
        a(href=quote.url) #{quote.category}
      dd #{quote.content}

    else
      p This category has no quotes

      hr
  p
    a(href=category.url+'/delete') Delete category
  p
    a(href=category.url+'/update') Update category
      